---
layout: navbar
---

<section id="main-image" class="hero-image">
    <div class="image-heading">
        <h1>Eta Kappa Nu</h1>
        <p>University of Illinois at Urbana Champaign</p>
    </div>
</section>

<section class="post">
    <div class="post-container">
        <article>
            <h1>Welcome to HKN Alpha Chapter</h1>
            <p>Eta Kappa Nu (HKN) is a unique membership organization dedicated to encouraging and recognizing excellence in the field of electrical and computer engineering. Members consist of students, alumni, and other professionals who have demonstrated exceptional academic and professional accomplishments. Here at the University of Illinois in Urbana-Champaign, members of the HKN Alpha Chapter are dedicated to serving the ECE student body by providing resources and services to help students succeed.</p>
        </article>
    </div>
</section>

<section class="main-carousel">
    <aside class="carousel-next"><span class="fa fa-angle-right"></span></aside>
    <aside class="carousel-prev"><span class="fa fa-angle-left"></span></aside>
    <div class="carousel-container">
        <div id="carousel-image-1" class="carousel-image">

        </div>
        <div id="carousel-image-2" class="carousel-image">

        </div>
        <div id="carousel-image-3" class="carousel-image">

        </div>
    </div>
</section>

<section class="main-newsletter post">
    <div class="post-container">
        <div>
            <h1>Join our newsletter!</h1>
        </div>
        <div>
            <form>
                <input type="text" name="email" placeholder="Email">
            </form>
        </div>
    </div>
</section>

<!--{% for entry in site.main %}-->
<!--<section class="post">-->
  <!--<div class="post-container">-->
    <!--<article>-->
      <!--<h1>{{entry.title}}</h1>-->
      <!--<p>{{entry.content}}</p>-->
    <!--</article>-->
  <!--</div>-->
<!--</section>-->
<!--{% endfor %}-->

  <!--<ul class="post-list">-->
    <!--{% for post in site.posts %}-->
      <!--<li>-->
        <!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->

        <!--<h2>-->
          <!--<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>-->
        <!--</h2>-->
      <!--</li>-->
    <!--{% endfor %}-->
  <!--</ul>-->

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
