$footer-color: #555;
$footer-border-color: #969696;
$footer-font-color: #a0a0a0;
$footer-font-header-color: #c3c3c3;

footer {
  @include span-columns(12);
  width: 100%;
  background-color: $footer-color;

  div,
  a,
  p {
    color: $footer-font-color;
  }

  h1 {
    color: $footer-font-header-color;
  }

  nav {
    padding: 1rem 0 1rem;

    > div {
      @include outer-container;

      padding: 0 1rem 0 1rem;
    }
  }

  .footer-links {
    > div {
      padding-top: 3rem;

      display: flex;
      justify-content: space-between;
      align-content: flex-start;
    }

    ul {

      li {
        list-style-type: none;

        &:nth-last-child(n + 2) {
          margin-bottom: 0.5rem;
        }

        a {
          font-size: 1.1rem;
        }
      }
    }
  }

  .footer-newsletter {
    input {
      //outline: none;
      border: none;
      padding: 1rem 1rem 1rem 1rem;
      height: 2rem;
    }
  }

  .footer-copyright {
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap-reverse;
    }

    div,
    a {
      color: $footer-border-color;
    }

    .footer-copyright-left {
      font-size: .8rem;
    }

    .footer-copyright-right {
      font-size: 1.5rem;
    }
  }
}